extends layout

block content
    div#contents
        div#todosContainer
            div.spaceToDoContainer
            div.filterOptions
                ul
                    li.filterOption.todoDone
                    li.filterOption.highPriority
                    li.filterOption.mediumPriority
                    li.filterOption.lowPriority
            div#addtoDos
                span
                    | +                  
        div#notifContainer
    script(src='/javascripts/loadToDos.js', defer='defer')