extends layout

block content
    div#contents
        div#todosContainer
            div.spaceToDoContainer
    div#addtoDos
        span
            | +
    script(src='/javascripts/loadToDos.js', defer='defer')