extends layout

block content
    div#contents
        div#todosContainer
            div.spaceToDoContainer
    div#addtoDos
        span
            | +
    div#addToDo
        ul
            li
                div#addPriority.lowPriority
                    |   low
            li
                input(placeholder='Place your todo here', name='todoText')#addToDoInput.ifieldAddToDo
            li
                input(placeholder='yyyy-mm-dd',type='date').ifieldAddToDo#addToDoDueDate
            li
                input(placeholder='hh:mm',type='time').ifieldAddToDo#addToDoHour
    script(src='/javascripts/loadToDos.js', defer='defer')