extends layout

block content
  nav#rightSideNav
    div.sideNavGroup
      h1 
        | teams
      div.listItemsNavGroup
    div.sideNavGroup
      h1
        | projects
      div.listItemsNavGroup
    div.sideNavGroup
      h1
      div.listItemsNavGroup
        

