@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,100italic,300italic,400italic,500italic,700&subset=latin,latin-ext");
body {
  font-family: 'Roboto', 'Lucida Grande', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-image: url("../images/pw_maze_white.png");
}
#grayarea {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -kthtml-transition: all 1s ease;
  transition: all 1s ease;
  background: rgba(31,41,61,0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
  opacity: 0;
  display: none;
}
#authWrapper {
  width: 720px;
  height: 320px;
  background: #fff;
  border-radius: 10px;
  margin: -320px auto 0 auto;
  box-shadow: 0px 0px 3px #000;
  display: none;
}
#authWrapper header {
  height: 45px;
  width: 100%;
  background: #71c2ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 1px 1px #000;
}
#authWrapper header p {
  line-height: 45px;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
#authWrapper header section p {
  text-align: left;
  margin-left: 30px;
  font-weight: 400;
  font-size: 15px;
}
#authWrapper header section p a {
  color: #2b4c7e;
}
#authWrapper header section #loginMessage {
  margin-top: 64px;
}
#authWrapper header section #registerMessage {
  margin-top: 10px;
}
#authWrapper header #authleft {
  float: left;
  width: 360px;
  height: 275px;
  position: relative;
}
#authWrapper header #authright {
  float: left;
  width: 360px;
  height: 275px;
  position: relative;
}
#authWrapper header #authright p {
  font-weight: 300;
  font-size: 17px;
  color: #343434;
}
#header {
  width: 100%;
  min-width: 1000px;
  height: 55px;
  padding: 0;
  margin: 0 auto;
  background: #56575e;
}
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  background-image: -moz-linear-gradient(top, #75a4f3, #568ff0);
  background-image: -ms-linear-gradient(top, #75a4f3, #568ff0);
  background-image: -o-linear-gradient(top, #75a4f3, #568ff0);
  background-image: -webkit-linear-gradient(top, #75a4f3, #568ff0);
  background-image: linear-gradient(top, #75a4f3, #568ff0);
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 2px #232323;
  border-radius: 5px;
  padding: 0 5px;
}
.button:hover {
  background-image: -moz-linear-gradient(top, #85aef4, #6699f1);
  background-image: -ms-linear-gradient(top, #85aef4, #6699f1);
  background-image: -o-linear-gradient(top, #85aef4, #6699f1);
  background-image: -webkit-linear-gradient(top, #85aef4, #6699f1);
  background-image: linear-gradient(top, #85aef4, #6699f1);
}
.button:active {
  background-image: -moz-linear-gradient(top, #568ff0, #75a4f3);
  background-image: -ms-linear-gradient(top, #568ff0, #75a4f3);
  background-image: -o-linear-gradient(top, #568ff0, #75a4f3);
  background-image: -webkit-linear-gradient(top, #568ff0, #75a4f3);
  background-image: linear-gradient(top, #568ff0, #75a4f3);
}
#logo {
  font-family: 'Roboto', cursive;
  font-weight: 300;
  font-size: 20pt;
  margin-left: 10%;
  float: left;
  height: 55px;
  line-height: 55px;
  color: #d1f2a5;
}
#logo span {
  color: #fff;
}
#nav {
  margin-top: 12.5px;
  margin-right: 5%;
  float: right;
}
#nav ul:first-child {
  position: relative;
}
#nav ul li {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}
#nav ul #loginButton {
  padding: 0 5px;
  width: 70px;
}
#nav ul #userButton {
  padding: 0 35px 0 5px;
  width: auto;
  position: relative;
  font-size: 15px;
}
#nav ul #userButton #arrowDown {
  height: 30px;
  width: 20px;
  position: absolute;
  top: 0;
  color: #2770ec;
  right: 5px;
  font-weight: 100;
  font-size: 18px;
  text-shadow: 1px 0px #85aef4;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
#nav ul #userButton #arrowDown span {
  padding-left: 5px;
}
#nav ul #userButton:hover #arrowDown {
  color: #377aed;
  text-shadow: 1px 0px 1px #94b8f6;
}
#nav ul li:last-child() {
  margin-right: 0px;
}
.visibleHeader {
  background: rgba(100,100,100,0.5);
  box-shadow: 0px 3px 3px #232323;
}
#content {
  padding: 0 0 5% 0;
  width: 100%;
  min-width: 1000px;
}
#rightSideNav {
  color: #fefefe;
  float: right;
  width: 200px;
  min-height: 800px;
  background: #fff;
  box-shadow: inset 1px 1px 3px #56575e;
}
#rightSideNav .sideNavGroup {
  margin-top: 10px;
}
#rightSideNav .sideNavGroup h1 {
  width: 200px;
  background: #767881;
  box-shadow: 1px 1px 3px #56575e;
  height: 25px;
}
#rightSideNav .sideNavGroup h1 p {
  color: #fff;
  padding-left: 10px;
  line-height: 25px;
  font-size: 15px;
  font-weight: 300;
  text-shadow: 0px 0px 3px #000;
}
#noToDos span {
  color: #828fa2;
  display: block;
  width: 100px;
  height: 100px;
  background: #606d80;
  border-radius: 50%;
  border: 4px solid #515c6d;
  box-shadow: inset 0px 0px 7px #828fa2;
  line-height: 98px;
  text-align: center;
  font-size: 70px;
  font-weight: 200;
}
.authForm {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.authForm form ul li {
  margin-bottom: 10px;
}
.authForm form ul li:last-of-type {
  margin-bottom: 0;
}
.authForm form ul li:last-of-type input {
  height: 40px;
  width: 150px;
  padding: 0 10px;
  float: right;
}
.ifield {
  width: 280px;
  height: 40px;
  border: 1px solid #919191;
  padding: 0 10px;
  border-radius: 5px;
}
.ifield:focus {
  outline: none;
  border: 1px solid #567ebb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,236,0.6);
}
#loginForm ul li:last-of-type input {
  width: 100px;
}
#lostPass {
  position: absolute;
  bottom: 28px;
}
#registerMessage {
  display: none;
}
#registerForm {
  display: none;
}
#triangle {
  position: absolute;
  display: none;
  top: 35px;
  right: 33px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid rgba(39,39,39,0.3);
}
#bigTriangle {
  position: absolute;
  display: none;
  top: 36px;
  right: 35px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 16px solid #fff;
  z-index: 1000;
}
#userMenu {
  position: absolute;
  top: 49px;
  padding: 0;
  right: 0;
  width: 150px;
  border-top: none;
}
#userMenu ul {
  display: none;
}
#userMenu ul li:first-child {
  border-top: 1px solid rgba(39,39,39,0.3);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#userMenu ul li:last-child {
  border-bottom: 1px solid rgba(39,39,39,0.3);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#userMenu ul li {
  float: none;
  padding: 3px 12px;
  font-size: 11pt;
  border-left: 1px solid rgba(39,39,39,0.3);
  border-right: 1px solid rgba(39,39,39,0.3);
  background: #fff;
}
#userMenu ul li a {
  color: #75a4f3;
  text-decoration: none;
  text-shadow: 0px 0px 3px #e2e2e2;
}
#userMenu ul li a:hover {
  text-decoration: underline;
}
