@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,100italic,300italic,400italic,500italic,700&subset=latin,latin-ext");
body {
  font-family: 'Roboto', 'Lucida Grande', sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  color: #56575e;
  background-image: url("../images/groovepaper.png");
}
#grayarea {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -kthtml-transition: all 1s ease;
  transition: all 1s ease;
  background: rgba(31,41,61,0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1001;
  opacity: 0;
  display: none;
}
#authWrapper {
  width: 720px;
  height: 320px;
  background: #fff;
  border-radius: 10px;
  margin: -320px auto 0 auto;
  box-shadow: 0px 0px 3px #000;
  display: none;
}
#authWrapper header {
  height: 45px;
  width: 100%;
  background: #9ec4ea;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 1px 1px #000;
}
#authWrapper header p {
  line-height: 45px;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
#authWrapper header section p {
  text-align: left;
  margin-left: 30px;
  font-weight: 400;
  font-size: 15px;
}
#authWrapper header section p a {
  color: #568ff0;
}
#authWrapper header section #loginMessage {
  margin-top: 64px;
}
#authWrapper header section #registerMessage {
  margin-top: 10px;
}
#authWrapper header #authleft {
  float: left;
  width: 360px;
  height: 275px;
  position: relative;
}
#authWrapper header #authleft .verticalLine {
  position: absolute;
  width: 1px;
  height: 205px;
  box-shadow: 1px 0px 1px #000;
  top: 35px;
  left: 350px;
}
#authWrapper header #authleft #twitterForm input,
#authWrapper header #authleft #googleForm input {
  border: 0;
  width: 195px;
  height: 36px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000;
  border-radius: 5px;
}
#authWrapper header #authleft #twitterForm {
  margin-top: 90px;
  margin-left: 80px;
  float: left;
}
#authWrapper header #authleft #twitterForm input {
  background: url("../images/twitter.png") 0 0 no-repeat;
  -webkit-background-size: 195px auto;
  background-size: 195px auto;
}
#authWrapper header #authleft #twitterForm input:hover {
  opacity: 0.9;
}
#authWrapper header #authleft #googleForm {
  margin-top: 20px;
  margin-left: 80px;
  float: left;
}
#authWrapper header #authleft #googleForm input {
  background: url("../images/google.png") 0 0 no-repeat;
  -webkit-background-size: 195px auto;
  background-size: 195px auto;
}
#authWrapper header #authleft #googleForm input:hover {
  opacity: 0.9;
}
#authWrapper header #authright {
  float: left;
  width: 360px;
  height: 275px;
  position: relative;
}
#authWrapper header #authright p {
  font-weight: 300;
  font-size: 17px;
  color: #343434;
}
#header {
  width: 100%;
  min-width: 1000px;
  height: 55px;
  padding: 0;
  margin: 0 auto;
  background: #56575e;
}
.button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  background-image: -moz-linear-gradient(top, #75a4f3, #568ff0);
  background-image: -ms-linear-gradient(top, #75a4f3, #568ff0);
  background-image: -o-linear-gradient(top, #75a4f3, #568ff0);
  background-image: -webkit-linear-gradient(top, #75a4f3, #568ff0);
  background-image: linear-gradient(top, #75a4f3, #568ff0);
  color: #fff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 2px #000;
  border-radius: 5px;
  padding: 0 5px;
}
.button:hover {
  background-image: -moz-linear-gradient(top, #85aef4, #6699f1);
  background-image: -ms-linear-gradient(top, #85aef4, #6699f1);
  background-image: -o-linear-gradient(top, #85aef4, #6699f1);
  background-image: -webkit-linear-gradient(top, #85aef4, #6699f1);
  background-image: linear-gradient(top, #85aef4, #6699f1);
}
.button:active {
  background-image: -moz-linear-gradient(top, #568ff0, #75a4f3);
  background-image: -ms-linear-gradient(top, #568ff0, #75a4f3);
  background-image: -o-linear-gradient(top, #568ff0, #75a4f3);
  background-image: -webkit-linear-gradient(top, #568ff0, #75a4f3);
  background-image: linear-gradient(top, #568ff0, #75a4f3);
}
#logo {
  font-family: 'Roboto', cursive;
  font-weight: 300;
  font-size: 20pt;
  margin-left: 10%;
  float: left;
  height: 55px;
  line-height: 55px;
  color: #d1f2a5;
}
#logo span {
  color: #fff;
}
#nav {
  margin-top: 12.5px;
  margin-right: 0.5%;
  float: right;
}
#nav ul:first-child {
  position: relative;
}
#nav ul li {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
}
#nav ul #loginButton {
  padding: 0 5px;
  width: 70px;
}
#nav ul #userButton {
  padding: 0 35px 0 5px;
  width: auto;
  position: relative;
  font-size: 15px;
}
#nav ul #userButton #arrowDown {
  height: 30px;
  width: 20px;
  position: absolute;
  top: 0;
  color: #2770ec;
  right: 5px;
  font-weight: 100;
  font-size: 18px;
  text-shadow: 1px 0px #85aef4;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
#nav ul #userButton #arrowDown span {
  padding-left: 5px;
}
#nav ul #userButton:hover #arrowDown {
  color: #377aed;
  text-shadow: 1px 0px 1px #94b8f6;
}
#nav ul li:last-child() {
  margin-right: 0px;
}
.visibleHeader {
  background: rgba(100,100,100,0.5);
  box-shadow: 0px 3px 3px #232323;
}
#content {
  padding: 0 0 0 0;
  width: 100%;
  min-width: 1000px;
  position: relative;
}
#contents {
  width: calc(100% - rSNwidth px);
  width: -moz-calc(100% - rSNwidth px);
  width: -webkit-calc(100% - rSNwidth px);
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
}
/*Big add TODO circle*/
#addtoDos {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  color: #9a9ba2;
  z-index: 10;
}
#addtoDos span /* le circle */ {
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -kthtml-transition: all 1s ease;
  transition: all 1s ease;
  text-shadow: 0px 0px 3px #a2a3aa;
  display: block;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 1px 1px 5px #767881;
  line-height: 48px;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  cursor: pointer;
}
#addtoDos span:hover {
  box-shadow: inset 1px 1px 5px #000;
  color: rgba(154,155,162,0.5);
}
#addToDo {
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -kthtml-transition: all 1s ease;
  transition: all 1s ease;
  box-shadow: 1px 1px 3px #000;
  border-radius: 5px;
  background: #fff;
  width: 350px;
  height: 85px;
  margin-bottom: 10px;
}
#addToDo ul {
  width: 350px;
}
#addToDo ul li {
  display: block;
  float: left;
  margin-top: 5px;
  width: 270px;
}
#addToDo ul li:first-child {
  width: 70px;
  margin: 5px 0 0 5px;
}
#addToDoDueDate {
  width: 180px;
  margin-top: 5px;
  margin-left: 5px;
}
#addToDoInput {
  width: 242px;
  margin-left: 5px;
}
.submitToDo {
  height: 40px;
  line-height: 38px;
  width: 60px;
  float: left;
  margin-left: 1px;
  margin-top: 5px;
}
#addPriority {
  border-radius: 5px;
  width: 100%;
  height: 27px;
  border: 1px solid #919191;
  float: left;
  line-height: 27px;
  color: #919191;
  text-shadow: 0px 0px 1px #969696;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ifieldAddToDo {
  height: 33px;
  border: 1px solid #919191;
  padding: 0 10px;
  border-radius: 5px;
  color: #56575e;
}
.ifieldAddToDo:focus {
  outline: none;
  border: 1px solid #567ebb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,236,0.6);
}
.highPriority {
  background-image: -moz-linear-gradient(top, #fea29d, #fe726a);
  background-image: -ms-linear-gradient(top, #fea29d, #fe726a);
  background-image: -o-linear-gradient(top, #fea29d, #fe726a);
  background-image: -webkit-linear-gradient(top, #fea29d, #fe726a);
  background-image: linear-gradient(top, #fea29d, #fe726a);
}
.hpBorder {
  border-color: #fea29d;
}
.mediumPriority {
  background-image: -moz-linear-gradient(top, #fec99e, #fead6b);
  background-image: -ms-linear-gradient(top, #fec99e, #fead6b);
  background-image: -o-linear-gradient(top, #fec99e, #fead6b);
  background-image: -webkit-linear-gradient(top, #fec99e, #fead6b);
  background-image: linear-gradient(top, #fec99e, #fead6b);
}
.mpBorder {
  border-color: #fec99e;
}
.lowPriority {
  background-image: -moz-linear-gradient(top, #fef0a4, #fde872);
  background-image: -ms-linear-gradient(top, #fef0a4, #fde872);
  background-image: -o-linear-gradient(top, #fef0a4, #fde872);
  background-image: -webkit-linear-gradient(top, #fef0a4, #fde872);
  background-image: linear-gradient(top, #fef0a4, #fde872);
}
.grayPriority {
  background-image: -moz-linear-gradient(top, #f7f8f9, #e4e7ea);
  background-image: -ms-linear-gradient(top, #f7f8f9, #e4e7ea);
  background-image: -o-linear-gradient(top, #f7f8f9, #e4e7ea);
  background-image: -webkit-linear-gradient(top, #f7f8f9, #e4e7ea);
  background-image: linear-gradient(top, #f7f8f9, #e4e7ea);
}
.lpBorder {
  border-color: #fef0a4;
}
.authForm {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.authForm form ul li {
  margin-bottom: 10px;
}
.authForm form ul li:last-of-type {
  margin-bottom: 0;
}
.authForm form ul li:last-of-type input {
  height: 40px;
  width: 150px;
  padding: 0 10px;
  float: right;
}
.ifield {
  width: 280px;
  height: 40px;
  border: 1px solid #919191;
  padding: 0 10px;
  border-radius: 5px;
}
.ifield:focus {
  outline: none;
  border: 1px solid #567ebb;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,236,0.6);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.05), 0 0 8px rgba(82,168,236,0.6);
}
#loginForm ul li:last-of-type input {
  width: 100px;
}
#lostPass {
  position: absolute;
  bottom: 28px;
}
#registerMessage {
  display: none;
}
#registerForm {
  display: none;
}
#triangle {
  position: absolute;
  display: none;
  top: 35px;
  right: 33px;
  width: 0;
  height: 0;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid rgba(39,39,39,0.3);
  z-index: 999;
}
#bigTriangle {
  position: absolute;
  display: none;
  top: 36px;
  right: 35px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 16px solid #fff;
  z-index: 1000;
}
#userMenu {
  position: absolute;
  top: 49px;
  padding: 0;
  right: 0;
  width: 150px;
  border-top: none;
  z-index: 999;
}
#userMenu ul {
  display: none;
}
#userMenu ul li:first-child {
  border-top: 1px solid rgba(39,39,39,0.3);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#userMenu ul li:last-child {
  border-bottom: 1px solid rgba(39,39,39,0.3);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#userMenu ul li {
  float: none;
  padding: 3px 12px;
  font-size: 11pt;
  border-left: 1px solid rgba(39,39,39,0.3);
  border-right: 1px solid rgba(39,39,39,0.3);
  background: #fff;
}
#userMenu ul li a {
  color: #568ff0;
  text-decoration: none;
  text-shadow: 0px 0px 3px #e2e2e2;
}
#userMenu ul li a:hover {
  text-decoration: underline;
}
.todoDone {
  background-image: -moz-linear-gradient(top, #cbfea1, #affe6e);
  background-image: -ms-linear-gradient(top, #cbfea1, #affe6e);
  background-image: -o-linear-gradient(top, #cbfea1, #affe6e);
  background-image: -webkit-linear-gradient(top, #cbfea1, #affe6e);
  background-image: linear-gradient(top, #cbfea1, #affe6e);
}
.allItems {
  background-image: -moz-linear-gradient(top, #fff, #f2f7fc);
  background-image: -ms-linear-gradient(top, #fff, #f2f7fc);
  background-image: -o-linear-gradient(top, #fff, #f2f7fc);
  background-image: -webkit-linear-gradient(top, #fff, #f2f7fc);
  background-image: linear-gradient(top, #fff, #f2f7fc);
}
#todosContainer {
  width: 350px;
  margin: 0 auto;
  padding-top: 80px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  background: #d6e6f6;
  box-shadow: inset 0px 1px 5px #56575e;
}
#todosContainer .filterOptions {
  position: absolute;
  width: 50px;
  margin-left: -65px;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 0px;
  background: #d6e6f6;
  box-shadow: inset 1px 1px 3px #56575e;
}
#todosContainer .filterOptions .filterOption {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 5px;
  margin-left: 10px;
  height: 25px;
  width: 30px;
  line-height: 25px;
  text-align: center;
  font-size: 13px;
  color: #56575e;
  border-radius: 3px;
  box-shadow: 1px 1px 3px #56575e;
  cursor: pointer;
}
#todosContainer .filterOptions .filterOptionSelected {
  box-shadow: 0px 0px 5px #56575e inset;
}
.spaceToDoContainer {
  width: 350px;
  height: 120px;
}
.todoItemWrapper {
  width: 350px;
  height: auto;
  position: relative;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -kthtml-transition: all 1s ease;
  transition: all 1s ease;
}
.todoItemWrapper:not(:first-child) {
  margin-top: 10px;
}
.todoItem {
  width: 350px;
  height: 70px;
  background: #fefefe;
  border-radius: 5px;
  box-shadow: 1px 1px 3px #000;
  position: relative;
  z-index: 1;
}
.toDoAdvancedOpt {
  width: 315px;
  margin-left: 30px;
  background: #fff;
  box-shadow: 0px 1px 1px #000;
  position: relative;
  z-index: 0;
  display: none;
}
.toDoAdvancedOpt .todoDelete {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5px;
  top: 5px;
  cursor: pointer;
}
.toDoAdvancedOpt .todoDeleteLocked {
  background: url("../images/delete.png");
  background-size: 20px 20px;
}
.toDoAdvancedOpt .todoDeleteUnlocked {
  background: url("../images/deleteb.png");
  background-size: 20px 20px;
}
.toDoAdvancedOpt .todoOptions {
  width: 315px;
  height: 30px;
  float: left;
}
.toDoAdvancedOpt .todoOptions .changePriority,
.toDoAdvancedOpt .todoOptions .markDone {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 16px;
  line-height: 18px;
  margin-top: 5px;
  float: left;
  display: block;
  margin-left: 5px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  color: #767676;
  box-shadow: 0px 1px 1px #969696;
}
.toDoAdvancedOpt .todoOptions .changePriority {
  width: 60px;
}
.toDoAdvancedOpt .todoOptions .markDone {
  width: 50px;
}
.toDoAdvancedOpt .todoOptions .todoProgress {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #969696;
  height: 1px;
  width: 120px;
  float: left;
  margin-top: 13px;
  margin-left: 5px;
  box-shadow: 0px 0px 1px #969696;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.toDoAdvancedOpt .todoOptions .todoProgress::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: -1px;
  z-index: 1;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #56575e;
  box-shadow: 0px 0px 3px #969696;
}
.toDoAdvancedOpt .todoNotesWrapper {
  width: todo_w-35 px;
  padding-bottom: 10px;
}
.toDoAdvancedOpt .todoNotesWrapper .addToDoNoteInput {
  border: 0px;
  border-radius: 3px;
  box-shadow: 0px 1px 3px #969696 inset;
  width: 245px;
  height: 20px;
  padding: 2px 7px;
  margin-left: 26.25px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  color: #56575e;
}
.toDoAdvancedOpt .todoNotesWrapper .todoNote {
  background: #f2f7fc;
  width: 260px;
  margin-top: 5px;
  margin-left: 17px;
  padding: 10px;
  display: block;
  box-shadow: 0px 1px 1px #969696;
  font-size: 14px;
  text-indent: 20px;
}
.toDoAdvancedOpt .todoNotesWrapper .todoNote .deleteToDoNote {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: absolute;
  margin-left: -27px;
  margin-top: -6px;
  height: 17px;
  width: 17px;
  font-size: 10px;
  line-height: 17px;
  border-radius: 50%;
  text-indent: 0px;
  text-align: center;
  background: #d6e6f6;
}
.toDoAdvancedOpt .todoNotesWrapper .todoNote .deleteToDoNote:hover {
  box-shadow: 0px 0px 3px #fff inset;
  background: #fbb1b1;
  color: #fff;
}
.progress {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  line-height: 25px;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.todoItemXPand {
  float: left;
  width: 30px;
  height: 70px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.todoItemXPand span {
  margin: 0;
  height: 30px;
  width: 20px;
  line-height: 28px;
  color: #56575e;
  bottom: 0;
  right: 5px;
  font-weight: 100;
  position: absolute;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 0px #434343;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
.todoItemXPand:hover span {
  color: rgba(86,87,94,0.3);
  text-shadow: 1px 0px #434343;
}
.toDoContent {
  width: 220px;
  height: 52px;
  float: left;
  margin-left: 15px;
  margin-top: 9px;
}
.toDoContent p {
  width: 220px;
  font-weight: 200;
  text-shadow: #6e7079 1px 0px, #6e7079 1px 0px;
  font-size: 17px;
  text-align: justify;
  height: 52px;
  overflow: hidden;
}
.toDoDateTime {
  float: left;
  width: 85px;
  height: 70px;
  position: relative;
}
.toDoDateTime p {
  font-size: 12px;
  height: 12px;
  text-align: right;
  line-height: 12px;
  right: 10px;
  font-weight: 300;
  position: absolute;
}
.toDoDateTime p:first-child {
  bottom: 17px;
}
.toDoDateTime p:last-child {
  bottom: 5px;
}
