@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,100italic,300italic,400italic,500italic,700&subset=latin,latin-ext)
@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
body
  font-family: 'Roboto','Lucida Grande', sans-serif;
  font-weight: 300
  width:100%
  height:100%
  overflow-y: hidden;
  background-image: url('../images/pw_maze_white.png')
  // background: rgba(220, 224, 230, 1)
linkcolor= rgba(43, 76, 126, 1)
#grayarea
  -webkit-transition: all 1s ease
  -o-transition: all 1s ease
  -moz-transition: all 1s ease
  -ms-transition: all 1s ease
  -kthtml-transition: all 1s ease
  transition: all 1s ease
  background: rgba(31, 41, 61, 0.4)
  top:0
  left:0
  width:100%
  height:100%
  position:fixed
  z-index: 1001
  display: none
#authWrapper
  width: 720px
  height: 320px
  background: rgb(255,255,255)
  border-radius: 10px
  margin: 100px auto 0 auto
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1)
  header
    height: 45px
    width: 100%
    background: rgba(52, 52, 52, 1)
    border-top-left-radius: 10px
    border-top-right-radius: 10px
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 1)
    p
      line-height: 45px
      font-weight: 500
      font-size: 20px
      color: rgba(220, 224, 230, 1)
      text-align: center
    section
      p
        text-align:left
        margin-left: 30px
        font-weight: 400
        font-size: 15px
        a
          color: linkcolor
      #loginMessage
        margin-top: 64px
      #registerMessage
        margin-top: 10px
    #authleft
      float:left
      width:360px
      height:275px
      position:relative
    #authright
      float:left
      width:360px  
      height:275px
      position:relative
      p
        color: rgba(52, 52, 52, 1)

hH = 55
#header
  width: 80%
  min-width: 1000px;
  height: (hH)px;
  padding:0 10%
  margin:0 auto
  // position: fixed
  background: rgba(96,109,128, 1)
h = 30
w = 80
rd = 20
padH = 5 
gr_start = rgba(79, 180, 255, 1)
gr_stop = rgba(45, 166, 255, 1)
.button
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  display:block
  background-image: -moz-linear-gradient(top, gr_start, gr_stop)
  background-image: -ms-linear-gradient(top, gr_start, gr_stop)
  background-image: -o-linear-gradient(top, gr_start, gr_stop)
  background-image: -webkit-linear-gradient(top, gr_start, gr_stop)
  background-image: linear-gradient(top, gr_start, gr_stop)
  color: rgba(255,255,255,1)
  text-shadow: 0 -1px 1px rgba(0,0,0,.3);
  text-align: center
  cursor: pointer
  border: none
  border-radius: 5px
  padding: 0 (padH px)
.button:hover
  grhover_start = rgba(113, 194, 255, 1)
  grhover_stop = rgba(62, 173, 255, 1)
  background-image: -moz-linear-gradient(top, grhover_start, grhover_stop)
  background-image: -ms-linear-gradient(top, grhover_start, grhover_stop)
  background-image: -o-linear-gradient(top, grhover_start, grhover_stop)
  background-image: -webkit-linear-gradient(top, grhover_start, grhover_stop)
  background-image: linear-gradient(top, grhover_start, grhover_stop)
.button:active
  gractive_start = gr_stop
  gractive_stop = gr_start
  background-image: -moz-linear-gradient(top, gractive_start, gractive_stop)
  background-image: -ms-linear-gradient(top, gractive_start, gractive_stop)
  background-image: -o-linear-gradient(top, gractive_start, gractive_stop)
  background-image: -webkit-linear-gradient(top, gractive_start, gractive_stop)
  background-image: linear-gradient(top, gractive_start, gractive_stop)
#logo
  font-family: 'Kaushan Script', cursive;
  font-weight: 400
  font-size: 20pt
  float:left
  height:hH px
  line-height:hH px
  color: rgba(130, 184, 133, 1)
  span
      color: rgba(220, 224, 230, 1)
#nav
  margin-top: (hH/2 - h/2)px
  margin-right: rd px
  float:right
  ul
    li
      display: block
      float: left
      height: h px
      line-height: h px
      margin-right: 10px
    #loginButton
      padding: 0 (padH px)
      width: (w - 2*padH)px
    #userButton
      padding: 0 (padH+30 px) 0 (padH px)
      width: auto
      position:relative
      font-size: 15px
      sh=30
      sw=20
      #arrowDown
        height:sh px
        width:sw px
        position:absolute;
        top:0
        color:rgba(0, 129, 167, 1)
        right:padH px
        font-weight: 100
        font-size:18px
        text-shadow: 1px 0px rgba(113, 194, 255, 1)
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);  // FF3.5+ 
        -o-transform: rotate(90deg);  // Opera 10.5 
        // background-image: url('../images/arrow-down.png')
        // background-repeat: no-repeat
        // background-size: 15px auto
        // background-position: center 60%
        span
          padding-left:5px
    #userButton:hover
      #arrowDown
        color:rgba(0, 155, 201, 1)
        text-shadow: 1px 0px 1px rgba(147, 209, 255, 1)
    li:last-child()
      margin-right: 0px

.visibleHeader
  background: rgba(100,100,100,0.5)
  box-shadow: 0px 3px 3px #232323
#content
  padding-top: 20px
  color: rgba(200,0,0,1)
  width: 1000px
  margin: 0 auto
ihts= 40 // input fields height
sBw= 380 // search box width
sBcolor= #F7F9FE // submit buttons color
sBcolorH= #BED2D9 // on hover

afw = 300 // auth form width
ipad = 10
.authForm
  width: afw px
  height: auto
  position: absolute
  bottom: 30 px
  left: (360/2 - afw/2 ) px 
  form
    ul
      li
        margin-bottom:10px
      li:last-of-type
        margin-bottom:0
        input
          height: ihts px
          width: (afw/2 px)
          padding: 0 (ipad px)   
          float:right
.ifield
  width:(afw - ipad*2)px
  height: ihts px 
  border: 1px solid rgba(145, 145, 145, 1)
  padding: 0 (ipad px)
  border-radius: 5px
.ifield:focus
  outline: none
  border: 1px solid rgba(86, 126, 187, 1)
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82, 168, 236,.6);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82, 168, 236,.6);
#loginForm
  // display: none
  ul
    li:last-of-type
      input
        width: (afw/2 - 50 px)
// #registerForm
//   display: none
#lostPass
  position:absolute
  bottom:28px
#registerMessage
  display: none
#registerForm
  display: none

#triangle
  position: absolute
  display: none
  top: 45px
  width: 0; 
  height: 0; 
  margin-left: 30px
  border-left: 17px solid transparent
  border-right: 17px solid transparent
  border-bottom: 17px solid rgba(39, 39, 39, 1)
#bigTriangle
  position: absolute
  display: none
  top: 46px
  width: 0; 
  height: 0; 
  margin-left: 32px
  border-left: 15px solid transparent
  border-right: 15px solid transparent
  border-bottom: 16px solid rgba(238, 238, 238, 1)
  z-index: 1000
#userMenu
  position: absolute
  top: 59px
  padding: 0
  width: 150px
  border-top: none
  ul
    display: none
    li:first-child
      border-top: 1px solid rgba(39, 39, 39, 1)
      border-top-right-radius: 5px  
      border-top-left-radius: 5px
    li:last-child
      border-bottom: 1px solid rgba(39, 39, 39, 1)
      border-bottom-right-radius: 5px  
      border-bottom-left-radius: 5px
    li
      float: none
      padding: 3px 12px
      font-size: 11pt
      border-left: 1px solid rgba(39, 39, 39, 1)
      border-right:1px solid rgba(39, 39, 39, 1)
      background: rgba(238, 238, 238, 1)
      a
        color: rgba(71, 124, 74, 1)
        text-decoration: none
      a:hover
        text-decoration: underline
